recorder:
  include:
    entities:
      - device_tracker.car_ioniq
      - binary_sensor.car_ioniq_state
      - binary_sensor.car_ioniq_location_sensor
      - switch.car_ioniq_charger
      - sensor.car_ioniq_charger_charge_state
      - sensor.car_ioniq_charger_current_power
      - sensor.car_ioniq_state_sensor
      - sensor.car_ioniq_location_distance_travelled_between_updates
      - sensor.car_ioniq_odometer
      - sensor.car_ioniq_battery
      - sensor.car_ioniq_battery_power
      - sensor.car_ioniq_battery_soc_bms
      - sensor.car_ioniq_location_gps_accuracy
      - sensor.cargador_aragon
      - sensor.cargador_conquistador
      - sensor.cargador_palmanyola
      - sensor.cargador_sant_miquel
      - sensor.cargador_paseo_mallorca
      - sensor.car_ioniq_charge_time_to_100_mins
      - input_boolean.car_ioniq_has_charged

logbook:
  exclude:
    entities:
      - sensor.car_ioniq_charger_current_power
      - sensor.car_ioniq_location_distance_travelled_between_updates
      - sensor.car_ioniq_odometer
      - sensor.car_ioniq_battery
      - sensor.car_ioniq_battery_soc_bms
      - sensor.car_ioniq_charge_time_to_100_mins

device_tracker:
  - platform: mqtt_json
    devices:
      # Ioniq tracker
      car_ioniq: car/sensor/ioniq/location
      # Nissan tracker
      #nissan: car/nissan/location

input_boolean:
  car_ioniq_has_charged:
    name: Has Ioniq been chaged today?

binary_sensor:
  - platform: mqtt
    state_topic: 'car/sensor/ioniq/state'
    name: car_ioniq_state
    payload_on: ON
    payload_off: OFF
    value_template: '{{ value_json.states is not none }}'
    force_update: true
    off_delay: 35
    device_class: 'moving'

  - platform: mqtt
    state_topic: 'car/sensor/ioniq/location'
    name: car_ioniq_location_sensor
    payload_on: ON
    payload_off: OFF
    value_template: '{{ value_json.last_update is not none }}'
    json_attributes_topic: 'car/sensor/ioniq/location'
    force_update: true
    off_delay: 25

sensor:
  - platform: integration 
    source: sensor.car_ioniq_charger_current_power
    name: car_ioniq_charger_spent
    unit_prefix: k
    round: 2

  - platform: mqtt
    state_topic: 'car/sensor/ioniq/battery'
    value_template: '{{ value_json.socDisplay }}'
    name: car_ioniq_battery
    json_attributes_topic: 'car/sensor/ioniq/battery'
    force_update: true
    device_class: 'battery'
    unit_of_measurement: '%'

  - platform: mqtt
    state_topic: 'car/sensor/ioniq/odometer'
    value_template: '{{ value_json.odometer }}'
    name: car_ioniq_odometer
    json_attributes_topic: 'car/sensor/ioniq/odometer'
    icon: 'mdi:counter'
    unit_of_measurement: 'Km'
    force_update: true

  - platform: mqtt
    state_topic: 'car/sensor/ioniq/tpms'
    value_template: '{{ value_json.timestamp }}'
    name: car_ioniq_tpms
    json_attributes_topic: 'car/sensor/ioniq/tpms'
    force_update: true

  - platform: mqtt
    state_topic: 'car/sensor/ioniq/state/daily'
    name: car_ioniq_state_daily
    value_template: '{{ value_json.timestamp|timestamp_custom("%d/%m/%Y %H:%M:%S") }}'
    json_attributes_topic: 'car/sensor/ioniq/state/daily'

  - platform: rest
    resource: https://ximeintranet.tib.org/ximelib-mobile/rest/devicegroups/41
    name: Cargador Conquistador
    scan_interval: 120
    json_attributes:
      - id
      - lat
      - lng
      - name
      - description
      - address
      - timetable
    headers:
      Content-Type: application/json
      Accept-Encoding: gzip
    value_template: >-
          {%- if value_json.status == 'OCCUPIED_PARTIAL' %}
            Parcialmente ocupado
          {% elif value_json.status == 'OCCUPIED' %}
            Ocupado
          {% elif value_json.status == 'UNAVAILABLE' %}
            No disponible
          {% elif value_json.status == 'AVAILABLE' %}
            Libre
          {% elif value_json.status == 'OFFLINE' %}
            No gestionado
          {% else %}
            Desconocido
          {%- endif %}

  - platform: rest
    resource: https://ximeintranet.tib.org/ximelib-mobile/rest/devicegroups/38
    name: Cargador Aragón
    scan_interval: 120
    json_attributes:
      - id
      - lat
      - lng
      - name
      - description
      - address
      - timetable
    headers:
      Content-Type: application/json
      Accept-Encoding: gzip
    value_template: >-
          {%- if value_json.status == 'OCCUPIED_PARTIAL' %}
            Parcialmente ocupado
          {% elif value_json.status == 'OCCUPIED' %}
            Ocupado
          {% elif value_json.status == 'UNAVAILABLE' %}
            No disponible
          {% elif value_json.status == 'AVAILABLE' %}
            Libre
          {% elif value_json.status == 'OFFLINE' %}
            No gestionado
          {% else %}
            Desconocido
          {%- endif %}

  - platform: rest
    resource: https://ximeintranet.tib.org/ximelib-mobile/rest/devicegroups/32
    name: Cargador Sant Miquel
    scan_interval: 120
    json_attributes:
      - id
      - lat
      - lng
      - name
      - description
      - address
      - timetable
    headers:
      Content-Type: application/json
      Accept-Encoding: gzip
    value_template: >-
          {%- if value_json.status == 'OCCUPIED_PARTIAL' %}
            Parcialmente ocupado
          {% elif value_json.status == 'OCCUPIED' %}
            Ocupado
          {% elif value_json.status == 'UNAVAILABLE' %}
            No disponible
          {% elif value_json.status == 'AVAILABLE' %}
            Libre
          {% elif value_json.status == 'OFFLINE' %}
            No gestionado
          {% else %}
            Desconocido
          {%- endif %}

  - platform: rest
    resource: https://ximeintranet.tib.org/ximelib-mobile/rest/devicegroups/672
    name: Cargador Palmanyola
    scan_interval: 120
    json_attributes:
      - id
      - lat
      - lng
      - name
      - description
      - address
      - timetable
    headers:
      Content-Type: application/json
      Accept-Encoding: gzip
    value_template: >-
          {%- if value_json.status == 'OCCUPIED_PARTIAL' %}
            Parcialmente ocupado
          {% elif value_json.status == 'OCCUPIED' %}
            Ocupado
          {% elif value_json.status == 'UNAVAILABLE' %}
            No disponible
          {% elif value_json.status == 'AVAILABLE' %}
            Libre
          {% elif value_json.status == 'OFFLINE' %}
            No gestionado
          {% else %}
            Desconocido
          {%- endif %}

  - platform: rest
    resource: https://ximeintranet.tib.org/ximelib-mobile/rest/devicegroups/29
    name: Cargador Paseo Mallorca
    scan_interval: 120
    json_attributes:
      - id
      - lat
      - lng
      - name
      - description
      - address
      - timetable
    headers:
      Content-Type: application/json
      Accept-Encoding: gzip
    value_template: >-
          {%- if value_json.status == 'OCCUPIED_PARTIAL' %}
            Parcialmente ocupado
          {% elif value_json.status == 'OCCUPIED' %}
            Ocupado
          {% elif value_json.status == 'UNAVAILABLE' %}
            No disponible
          {% elif value_json.status == 'AVAILABLE' %}
            Libre
          {% elif value_json.status == 'OFFLINE' %}
            No gestionado
          {% else %}
            Desconocido
          {%- endif %}

  - platform: template
    sensors:
      car_ioniq_state_sensor:
        friendly_name: 'Estado Ioniq'
        value_template: >-
          {%- if is_state('binary_sensor.car_ioniq_state', 'on') or is_state('binary_sensor.car_ioniq_location_sensor', 'on') %}
            {%- if is_state_attr('sensor.car_ioniq_battery', 'bmsIgnition', 1) %}
                Encendido
            {%- elif is_state_attr('sensor.car_ioniq_battery', 'charging', 1)%}
                Cargando
            {% else %}
                Apagado
            {%- endif %}
          {% else %}
            Apagado
          {%- endif %}

      # Charger today energy charged
      car_ioniq_charger_today_energy_charged:
        value_template: >- 
          {% if state_attr('switch.car_ioniq_charger', 'today_energy_kwh') is not none %}
            {{state_attr('switch.car_ioniq_charger', 'today_energy_kwh')}}
          {% else %}
            0
          {% endif %}
        unit_of_measurement: kWh
      # Current power used by Ioniq charger
      car_ioniq_charger_current_power:
        value_template: "{{state_attr('switch.car_ioniq_charger','current_power_w')|int}}"
        unit_of_measurement: W
      # Ioniq State last update
      car_ioniq_battery_last_update:
        friendly_name: 'Última actualización batería'
        value_template: '{{((state_attr("sensor.car_ioniq_battery", "timestamp")|int))|round(0)|timestamp_custom("%d/%m/%Y %H:%M:%S")}}'
      car_ioniq_odometer_last_update:
        friendly_name: 'Última actualización odómetro'
        value_template: '{{((state_attr("sensor.car_ioniq_odometer", "timestamp")|int))|round(0)|timestamp_custom("%d/%m/%Y %H:%M:%S")}}'
      car_ioniq_tpms_last_update:
        friendly_name: 'Última actualización tpms'
        value_template: '{{((state_attr("sensor.car_ioniq_tpms", "timestamp")|int))|round(0)|timestamp_custom("%d/%m/%Y %H:%M:%S")}}'

      # Ioniq State Of Health
      car_ioniq_battery_health:
        friendly_name: 'Salud batería'
        device_class: 'battery'
        value_template: '{{state_attr("sensor.car_ioniq_battery", "soh")}}'
        unit_of_measurement: '%'
      # Ioniq State Of Charge BMS
      car_ioniq_battery_soc_bms:
        friendly_name: 'Batería BMS'
        device_class: 'battery'
        value_template: '{{state_attr("sensor.car_ioniq_battery", "socBms")}}'
        unit_of_measurement: '%'
      # Ioniq odometer
      # Ioniq Cumulative Energy Discharged
      car_ioniq_battery_ced:
        value_template: '{{state_attr("sensor.car_ioniq_battery", "cumulativeEnergyDischarged")}}'
        unit_of_measurement: 'kWh'
      # Ioniq Cumulative Energy Charged
      car_ioniq_battery_cec:
        value_template: '{{state_attr("sensor.car_ioniq_battery", "cumulativeEnergyCharged")}}'
        unit_of_measurement: 'kWh'
      car_ioniq_battery_power:
        value_template: >-
          {%- if is_state('sensor.car_ioniq_state_sensor', 'Cargando')%}
           {{state_attr("sensor.car_ioniq_battery", "dcBatteryPower") | float | abs | round(3)}}
          {% else %}
            0
          {% endif %}

        unit_of_measurement: 'kW'
      car_ioniq_tpms_fl_pressure:
        value_template: '{{state_attr("sensor.car_ioniq_tpms", "tire_fl_pressure")}}'
        unit_of_measurement: 'bar'
      car_ioniq_tpms_fl_temperature:
        value_template: '{{state_attr("sensor.car_ioniq_tpms", "tire_fl_temperature")}}'
        unit_of_measurement: 'ºC'
      car_ioniq_tpms_fr_pressure:
        value_template: '{{state_attr("sensor.car_ioniq_tpms", "tire_fr_pressure")}}'
        unit_of_measurement: 'bar'
      car_ioniq_tpms_fr_temperature:
        value_template: '{{state_attr("sensor.car_ioniq_tpms", "tire_fr_temperature")}}'
        unit_of_measurement: 'ºC'
      car_ioniq_tpms_bl_pressure:
        value_template: '{{state_attr("sensor.car_ioniq_tpms", "tire_bl_pressure")}}'
        unit_of_measurement: 'bar'
      car_ioniq_tpms_bl_temperature:
        value_template: '{{state_attr("sensor.car_ioniq_tpms", "tire_bl_temperature")}}'
        unit_of_measurement: 'ºC'
      car_ioniq_tpms_br_pressure:
        value_template: '{{state_attr("sensor.car_ioniq_tpms", "tire_br_pressure")}}'
        unit_of_measurement: 'bar'
      car_ioniq_tpms_br_temperature:
        value_template: '{{state_attr("sensor.car_ioniq_tpms", "tire_br_temperature")}}'
        unit_of_measurement: 'ºC'

      # Ioniq Average energy consumption without taking into account regeneration
      car_ioniq_battery_energy_consumption:
        friendly_name: 'Consumo medio'
        icon_template: 'mdi:car-electric'
        value_template: '{{ ((states.sensor.car_ioniq_battery_ced.state | float / states.sensor.car_ioniq_odometer.state | float) * 100) | round(1)}}'
        unit_of_measurement: 'kWh/100Km'
      # Ioniq Previous latitude
      car_ioniq_location_previous_latitude:
        value_template: >-
             {%- if state_attr("binary_sensor.car_ioniq_location_sensor", "platitude") is not none %}
                {{state_attr("binary_sensor.car_ioniq_location_sensor", "platitude")}}
             {%- endif %}
      # Ioniq Previous longitude
      car_ioniq_location_previous_longitude:
        value_template:  >-
             {%- if state_attr("binary_sensor.car_ioniq_location_sensor", "plongitude") is not none %}
                {{state_attr("binary_sensor.car_ioniq_location_sensor", "plongitude")}}
             {%- endif %}
      # Ioniq Distance travelled between updates
      car_ioniq_location_distance_travelled_between_updates:
        unit_of_measurement: 'm'
        friendly_name: 'Dist. entre actualizaciones'
        value_template: '{% if states.device_tracker.car_ioniq.attributes.latitude %} {{ (distance(states("sensor.car_ioniq_location_previous_latitude"), states("sensor.car_ioniq_location_previous_longitude"), states.device_tracker.car_ioniq.attributes.latitude, states.device_tracker.car_ioniq.attributes.longitude) * 1000) | round (2) }} {% else %} -1 {% endif %}'
        icon_template: 'mdi:tape-measure'
      # Ioniq Previous longitude
      car_ioniq_location_last_update:
        value_template: '{{state_attr("binary_sensor.car_ioniq_location_sensor", "last_update")|timestamp_custom("%d/%m/%Y %H:%M:%S")}}'
      # Ioniq GPS accuracy
      car_ioniq_location_gps_accuracy:
        unit_of_measurement: 'm'
        friendly_name: 'Precisión GPS'
        value_template: '{{state_attr("device_tracker.car_ioniq", "gps_accuracy")}}'
        icon_template: 'mdi:map-marker-radius'
      car_ioniq_charger_charge_state:
        value_template: >-
          {%- if states('sensor.car_ioniq_charger_current_power')|float > 1000.0 and is_state('sensor.car_ioniq_state_sensor', 'Cargando') %}
             Cargando
          {%- elif is_state('switch.car_ioniq_charger', 'off') %}
            Apagado
          {% else %}
            Listo
          {%- endif %}
      car_ioniq_charge_time_to_100_mins:
        unit_of_measurement: min
        value_template:  >-
          {%- if is_state('sensor.car_ioniq_state_sensor', 'Cargando') %}
            {{state_attr('sensor.car_ioniq_battery', 'minsToCompleteCharge') | int}}
          {% else %}
            0
          {%- endif %}

      car_ioniq_charge_time_to_100_human:
        value_template:  >-
          {%- if states('sensor.car_ioniq_charge_time_to_100_mins') | int > 0 %}
            {{(states('sensor.car_ioniq_charge_time_to_100_mins') | int / 60) | round(0, 'floor')}} horas {{states('sensor.car_ioniq_charge_time_to_100_mins') | int % 60}} minutos
          {% else %}
            No está en carga
          {%- endif %}

      car_ioniq_charge_time_to_100:
        value_template:  >-
          {%- if is_state('sensor.car_ioniq_state_sensor', 'Cargando') %}
            {{(now() | as_timestamp() + ((states('sensor.car_ioniq_charge_time_to_100_mins') | int) * 60)) | timestamp_custom("%H:%M")}}
          {% else %}
            No está en carga
          {%- endif %}

  # Google travel time to work
  - platform: google_travel_time
    name: 'car_a_la_oficina'
    api_key: !secret google_api_key
    origin: device_tracker.car_ioniq
    destination: zone.oficina
    options:
      language: es
      departure_time: now
      traffic_model: pessimistic
  
  # Google travel time to school
  - platform: google_travel_time
    name: 'car_al_colegio'
    api_key: !secret google_api_key
    origin: device_tracker.car_ioniq
    destination: zone.colegio
    options:
      language: es
      departure_time: now
      traffic_model: pessimistic

utility_meter:
  car_ioniq_charger_daily:
    source: sensor.car_ioniq_charger_spent
    cycle: daily
    tariffs:
      - Pico
      - Valle
#      - Super valle
  car_ioniq_charger_monthly:
    source: sensor.car_ioniq_charger_spent
    cycle: monthly
    tariffs:
      - Pico
      - Valle
#      - Super valle
  car_ioniq_charger_yearly:
    source: sensor.car_ioniq_charger_spent
    cycle: yearly
    tariffs:
      - Pico
      - Valle
#      - Super valle
