recorder:
  include:
    entities:
      - input_boolean.home_comfort_mode
      - sensor.netatmo_exterior_temperature
      - sensor.netatmo_exterior_humidity
      - sensor.netatmo_pluviometro_rain
      - sensor.netatmo_anemometro_strength
      - sensor.netatmo_salon_temperature
      - sensor.netatmo_salon_humidity
      - sensor.netatmo_salon_noise
      - sensor.netatmo_salon_pressure
      - sensor.netatmo_salon_co2
      - sensor.home_temperature
      - sensor.ground_floor_temperature
      - sensor.first_floor_temperature
      - sensor.netatmo_suite_temperature
      - sensor.netatmo_suite_co2
      - sensor.netatmo_suite_humidity
      - sensor.netatmo_habitacion_temperature
      - sensor.netatmo_habitacion_co2
      - sensor.netatmo_habitacion_humidity
      - sensor.entrance_hall_thermostat_temperature
      - sensor.despacho_sensor_movimiento_luminance
      - sensor.despacho_sensor_movimiento_temperature
      - sensor.entrance_hall_thermostat_target_temperature
      - sensor.porche_sensor_puerta_temperature

logbook:
  exclude:
    entities:
      - sensor.netatmo_exterior_temperature
      - sensor.netatmo_exterior_humidity
      - sensor.netatmo_pluviometro_rain
      - sensor.netatmo_anemometro_strength
      - sensor.netatmo_salon_temperature
      - sensor.netatmo_salon_humidity
      - sensor.netatmo_salon_noise
      - sensor.netatmo_salon_pressure
      - sensor.netatmo_salon_co2
      - sensor.home_temperature
      - sensor.ground_floor_temperature
      - sensor.first_floor_temperature
      - sensor.netatmo_suite_temperature
      - sensor.netatmo_suite_co2
      - sensor.netatmo_suite_humidity
      - sensor.netatmo_habitacion_temperature
      - sensor.netatmo_habitacion_co2
      - sensor.netatmo_habitacion_humidity
      - sensor.entrance_hall_thermostat_temperature
      - sensor.despacho_sensor_movimiento_luminance
      - sensor.despacho_sensor_movimiento_temperature
      - sensor.porche_sensor_puerta_temperature

history_graph:
  outside_temperature:
    name: Temperatura exterior
    entities:
      - sensor.netatmo_exterior_temperature
    hours_to_show: 24
    refresh: 60

  home_temperature:
    name: Temperatura media casa
    entities:
      - sensor.home_temperature
    hours_to_show: 336
    refresh: 600

binary_sensor:
  - platform: template
    sensors:
      # comfort_state is active when:
      # Average in first floor temperature is lower than climate target temperature
      # And there is someone at home
      # And heating is on
      # And heating away mode is off
      # And heating is idle
      # And first floor temperature trend is going down
      home_comfort_state:
        entity_id: sensor.first_floor_temperature, climate.netatmo_general, group.unidad_familiar, switch.thermostat_away_mode, binary_sensor.first_floor_temperature_down
        value_template: >- 
          {{ states('sensor.first_floor_temperature')|float < states.sensor.entrance_hall_thermostat_target_temperature|float
             and is_state('group.unidad_familiar', 'home')
             and not is_state('climate.netatmo_general', 'off')
             and is_state('switch.thermostat_away_mode','off')
             and is_state_attr('climate.netatmo_general', 'hvac_action', 'off')
             and is_state('binary_sensor.first_floor_temperature_down','on')
          }}
      summer_time:
        entity_id: sensor.date_time
        device_class: light
        value_template: '{{ as_timestamp(strptime(states.sensor.date_time.state, "%Y-%m-%d, %H:%M"))|timestamp_custom("%Z") == "CEST"}}'

  # Trend sensors
  - platform: trend
    sensors:
      netatmo_exterior_temperature_down:
        entity_id: sensor.netatmo_exterior_temperature
        invert: true
      netatmo_exterior_temperature_up:
        entity_id: sensor.netatmo_exterior_temperature
  
      netatmo_salon_temperature_down:
        entity_id: sensor.netatmo_salon_temperature
        invert: true
      netatmo_salon_temperature_up:
        entity_id: sensor.netatmo_salon_temperature
  
      office_sensor_temperature_down:
        entity_id: sensor.despacho_termometro_temperatura
        invert: true
      office_sensor_temperature_up:
        entity_id: sensor.despacho_termometro_temperatura
  
      entrance_hall_thermostat_temperature_down:
        entity_id: sensor.entrance_hall_thermostat_temperature
        invert: true
      entrance_hall_thermostat_temperature_up:
        entity_id: sensor.entrance_hall_thermostat_temperature
        
      netatmo_suite_temperature_down:
        entity_id: sensor.suite_termometro_temperatura
        invert: true
      netatmo_suite_temperature_up:
        entity_id: sensor.suite_termometro_temperatura
  
      netatmo_habitacion_temperature_down:
        entity_id: sensor.habitacion_termometro_temperatura
        invert: true
      netatmo_habitacion_temperature_up:
        entity_id: sensor.habitacion_termometro_temperatura
  
      netatmo_salon_co2_down:
        entity_id: sensor.salon_termometro_co2
        invert: true
      netatmo_salon_co2_up:
        entity_id: sensor.salon_termometro_co2
  
      netatmo_suite_co2_down:
        entity_id: sensor.suite_termometro_co2
        invert: true
      netatmo_suite_co2_up:
        entity_id: sensor.suite_termometro_co2
  
      netatmo_habitacion_co2_down:
        entity_id: sensor.habitacion_termometro_co2
        invert: true
      netatmo_habitacion_co2_up:
        entity_id: sensor.habitacion_termometro_co2
  
      ground_floor_temperature_down:
        entity_id: sensor.ground_floor_temperature
        invert: true
        max_samples: 5
      ground_floor_temperature_up:
        entity_id: sensor.ground_floor_temperature
        max_samples: 5
  
      first_floor_temperature_down:
        entity_id: sensor.first_floor_temperature
        invert: true
        max_samples: 5
      first_floor_temperature_up:
        entity_id: sensor.first_floor_temperature
        max_samples: 5

sensor:
  # Sensor to define the season of the year
  - platform: season

  - platform: darksky
    api_key: !secret dark_sky_api_key
    forecast:
      - 0
    language: 'es'
    latitude: !secret ha_latitude
    longitude: !secret ha_longitude
    units: 'ca'
    monitored_conditions:
      - summary
      - icon
    scan_interval:
      hours: 1
  
  # Comfort sensors
  - platform: min_max
    name: ground_floor_temperature
    type: mean
    round_digits: 1
    entity_ids:
      - sensor.entrance_hall_thermostat_temperature
      - sensor.netatmo_salon_temperature
      - sensor.despacho_sensor_movimiento_temperature
      - sensor.porche_sensor_puerta_temperature
  
  - platform: min_max
    name: first_floor_temperature
    type: mean
    round_digits: 1
    entity_ids:
      - sensor.netatmo_suite_temperature
      - sensor.netatmo_habitacion_temperature

  - platform: min_max
    name: home_temperature
    type: mean
    round_digits: 1
    entity_ids:
      - sensor.netatmo_suite_temperature
      - sensor.netatmo_habitacion_temperature
      - sensor.netatmo_salon_temperature
      - sensor.entrance_hall_thermostat_temperature
      - sensor.despacho_sensor_movimiento_temperature
      - sensor.porche_sensor_puerta_temperature

  - platform: statistics
    name: home_temperature_stats
    entity_id: sensor.home_temperature
    sampling_size: 1440
    max_age:
      hours: 24

  - platform: template
    sensors:
      # Sensors to get sunset and sunrise hours with a custom format.
      sunrise:
        friendly_name: 'Amanecer'
        value_template: '{{ as_timestamp(states.sun.sun.attributes.next_rising)|timestamp_custom("%H:%M:%S") }}'
      sunset:
        friendly_name: 'Puesta de sol'
        value_template: '{{ as_timestamp(states.sun.sun.attributes.next_setting)|timestamp_custom("%H:%M:%S") }}'
      # Thermostat sensors
      entrance_hall_thermostat_target_temperature:
        entity_id: climate.netatmo_general
        value_template: "{{state_attr('climate.netatmo_general', 'temperature')}}"
      entrance_hall_thermostat_temperature:
        entity_id: climate.netatmo_general
        value_template: "{{state_attr('climate.netatmo_general', 'current_temperature')}}"
      # Trend sensors
      ground_floor_temperature_trend:
        friendly_name: 'Tend temp planta baja'
        value_template: >-
          {%- if is_state("binary_sensor.ground_floor_temperature_down", "on") -%}
          En descenso
          {%- elif is_state("binary_sensor.ground_floor_temperature_up", "on") -%}
          En aumento
          {%- else -%}
          Sin cambio
          {%- endif %}
        icon_template: >-
          {%- if is_state("binary_sensor.ground_floor_temperature_down", "on") -%}
          mdi:arrow-down-thick
          {%- elif is_state("binary_sensor.ground_floor_temperature_up", "on") -%}
          mdi:arrow-up-thick
          {%- else -%}
          mdi:window-minimize
          {%- endif %}
  
      first_floor_temperature_trend:
        friendly_name: 'Tend temp 1ª planta'
        value_template: >-
          {%- if is_state("binary_sensor.first_floor_temperature_down", "on") -%}
          En descenso
          {%- elif is_state("binary_sensor.first_floor_temperature_up", "on") -%}
          En aumento
          {%- else -%}
          Sin cambio
          {%- endif %}
        icon_template: >-
          {%- if is_state("binary_sensor.first_floor_temperature_down", "on") -%}
          mdi:arrow-down-thick
          {%- elif is_state("binary_sensor.first_floor_temperature_up", "on") -%}
          mdi:arrow-up-thick
          {%- else -%}
          mdi:window-minimize
          {%- endif %}
  
      netatmo_exterior_temperature_trend:
        friendly_name: 'Tendencia temp. exterior'
        value_template: >-
          {%- if is_state("binary_sensor.netatmo_exterior_temperature_down", "on") -%}
          En descenso
          {%- elif is_state("binary_sensor.netatmo_exterior_temperature_up", "on") -%}
          En aumento
          {%- else -%}
          Sin cambio
          {%- endif %}
        icon_template: >-
          {%- if is_state("binary_sensor.netatmo_exterior_temperature_down", "on") -%}
          mdi:arrow-down-thick
          {%- elif is_state("binary_sensor.netatmo_exterior_temperature_up", "on") -%}
          mdi:arrow-up-thick
          {%- else -%}
          mdi:window-minimize
          {%- endif %}
  
      office_sensor_temperature_trend:
        friendly_name: 'Tendencia temp. despacho'
        value_template: >-
          {%- if is_state("binary_sensor.office_sensor_temperature_down", "on") -%}
          En descenso
          {%- elif is_state("binary_sensor.office_sensor_temperature_up", "on") -%}
          En aumento
          {%- else -%}
          Sin cambio
          {%- endif %}
        icon_template: >-
          {%- if is_state("binary_sensor.office_sensor_temperature_down", "on") -%}
          mdi:arrow-down-thick
          {%- elif is_state("binary_sensor.office_sensor_temperature_up", "on") -%}
          mdi:arrow-up-thick
          {%- else -%}
          mdi:window-minimize
          {%- endif %}
  
      netatmo_salon_temperature_trend:
        friendly_name: 'Tendencia temp. salón'
        value_template: >-
          {%- if is_state("binary_sensor.netatmo_salon_temperature_down", "on") -%}
          En descenso
          {%- elif is_state("binary_sensor.netatmo_salon_temperature_up", "on") -%}
          En aumento
          {%- else -%}
          Sin cambio
          {%- endif %}
        icon_template: >-
          {%- if is_state("binary_sensor.netatmo_salon_temperature_down", "on") -%}
          mdi:arrow-down-thick
          {%- elif is_state("binary_sensor.netatmo_salon_temperature_up", "on") -%}
          mdi:arrow-up-thick
          {%- else -%}
          mdi:window-minimize
          {%- endif %}
  
      netatmo_salon_co2_trend:
        friendly_name: 'Tendencia CO2 salón'
        value_template: >-
          {%- if is_state("binary_sensor.netatmo_salon_co2_down", "on") -%}
          En descenso
          {%- elif is_state("binary_sensor.netatmo_salon_co2_up", "on") -%}
          En aumento
          {%- else -%}
          Sin cambio
          {%- endif %}
        icon_template: >-
          {%- if is_state("binary_sensor.netatmo_salon_co2_down", "on") -%}
          mdi:arrow-down-thick
          {%- elif is_state("binary_sensor.netatmo_salon_co2_up", "on") -%}
          mdi:arrow-up-thick
          {%- else -%}
          mdi:window-minimize
          {%- endif %}
  
      entrance_hall_thermostat_temperature_trend:
        friendly_name: 'Tendencia temp. recibidor'
        value_template: >-
          {%- if is_state("binary_sensor.entrance_hall_thermostat_temperature_down", "on") -%}
          En descenso
          {%- elif is_state("binary_sensor.entrance_hall_thermostat_temperature_up", "on") -%}
          En aumento
          {%- else -%}
          Sin cambio
          {%- endif %}
        icon_template: >-
          {%- if is_state("binary_sensor.entrance_hall_thermostat_temperature_down", "on") -%}
          mdi:arrow-down-thick
          {%- elif is_state("binary_sensor.entrance_hall_thermostat_temperature_up", "on") -%}
          mdi:arrow-up-thick
          {%- else -%}
          mdi:window-minimize
          {%- endif %}
  
      netatmo_suite_temperature_trend:
        friendly_name: 'Tendencia temp. suite'
        value_template: >-
          {%- if is_state("binary_sensor.netatmo_suite_temperature_down", "on") -%}
          En descenso
          {%- elif is_state("binary_sensor.netatmo_suite_temperature_up", "on") -%}
          En aumento
          {%- else -%}
          Sin cambio
          {%- endif %}
        icon_template: >-
          {%- if is_state("binary_sensor.netatmo_suite_temperature_down", "on") -%}
          mdi:arrow-down-thick
          {%- elif is_state("binary_sensor.netatmo_suite_temperature_up", "on") -%}
          mdi:arrow-up-thick
          {%- else -%}
          mdi:window-minimize
          {%- endif %}
  
      netatmo_suite_co2_trend:
        friendly_name: 'Tendencia CO2 suite'
        value_template: >-
          {%- if is_state("binary_sensor.netatmo_suite_co2_down", "on") -%}
          En descenso
          {%- elif is_state("binary_sensor.netatmo_suite_co2_up", "on") -%}
          En aumento
          {%- else -%}
          Sin cambio
          {%- endif %}
        icon_template: >-
          {%- if is_state("binary_sensor.netatmo_suite_co2_down", "on") -%}
          mdi:arrow-down-thick
          {%- elif is_state("binary_sensor.netatmo_suite_co2_up", "on") -%}
          mdi:arrow-up-thick
          {%- else -%}
          mdi:window-minimize
          {%- endif %}
  
      netatmo_habitacion_temperature_trend:
        friendly_name: 'Tendencia temp. hab. niños'
        value_template: >-
          {%- if is_state("binary_sensor.netatmo_habitacion_temperature_down", "on") -%}
          En descenso
          {%- elif is_state("binary_sensor.netatmo_habitacion_temperature_up", "on") -%}
          En aumento
          {%- else -%}
          Sin cambio
          {%- endif %}
        icon_template: >-
          {%- if is_state("binary_sensor.netatmo_habitacion_temperature_down", "on") -%}
          mdi:arrow-down-thick
          {%- elif is_state("binary_sensor.netatmo_habitacion_temperature_up", "on") -%}
          mdi:arrow-up-thick
          {%- else -%}
          mdi:window-minimize
          {%- endif %}
  
      netatmo_habitacion_co2_trend:
        friendly_name: 'Tendencia CO2 hab. niños'
        value_template: >-
          {%- if is_state("binary_sensor.netatmo_habitacion_co2_down", "on") -%}
          En descenso
          {%- elif is_state("binary_sensor.netatmo_habitacion_co2_up", "on") -%}
          En aumento
          {%- else -%}
          Sin cambio
          {%- endif %}
        icon_template: >-
          {%- if is_state("binary_sensor.netatmo_habitacion_co2_down", "on") -%}
          mdi:arrow-down-thick
          {%- elif is_state("binary_sensor.netatmo_habitacion_co2_up", "on") -%}
          mdi:arrow-up-thick
          {%- else -%}
          mdi:window-minimize
          {%- endif %}

switch:
  - platform: template
    switches:
      thermostat_away_mode:
        entity_id: climate.netatmo_general
        value_template: "{{is_state_attr('climate.netatmo_general', 'preset_mode', 'away')}}"
        turn_on:
          service: climate.set_preset_mode
          entity_id: climate.netatmo_general
          data:
            preset_mode: 'away'
        turn_off:
          service: climate.set_preset_mode
          entity_id: climate.netatmo_general
          data:
            preset_mode: 'Schedule'

input_boolean:
  home_comfort_mode:
    name: Modo extra calentito
    icon: 'mdi:fire'

weather:
  - platform: darksky
    api_key: !secret dark_sky_api_key
    latitude: !secret ha_latitude
    longitude: !secret ha_longitude
    units: 'ca'
    mode: daily