fitbit.conf
secrets.yaml
known_devices.yaml
html5_push_registrations.conf
OZW_Log.txt
pyozw.sqlite
zwcfg_0xe9a14ab8.xml
google_calendars.yaml
home-assistant_v2.db-journal
home-assistant.log
www/hass-geni.jpg
www/hass-jordi.jpg
ocr.png
ip_bans.yaml

testbild.png
config/.HA_VERSION
config/.google.token
config/.storage/auth
config/.storage/auth_module.totp
config/.storage/auth_provider.homeassistant
config/.storage/cloud
config/.storage/core.config_entries
config/.storage/core.restore_state
config/.storage/frontend.user_data_0b2aad55afaf4c3e9c727406d277d94e
config/.storage/onboarding
config/.uuid
config/tts
config/.storage/frontend.user_data_a05d463a90d84273a11927004adca080
config/.storage/core.config
config/.storage/hassio
config/home-assistant_v2.db
config/.cloud
