- alias: 'Car - State - Restart Ioniq has charged'
  trigger:
    platform: time
    at: '00:00:00'
  condition:
    condition: not
    conditions:
      - condition: state
        entity_id: sensor.car_ioniq_state_sensor
        state: 'Cargando'
  action:
    - service: input_boolean.turn_off
      entity_id: input_boolean.car_ioniq_has_charged
