# Turn off heating when home mean temperature for last 24 hours is above 20 degrees
- id: "comfort_heating_average_home_temperature_above_threshold"
  alias: "Comfort - Heating - Average home temperature above threshold"
  trigger:
    platform: numeric_state
    entity_id: sensor.home_temperature_stats
    above: 20
  condition:
    condition: and
    conditions:
      - condition: template
        value_template: "{{states('climate.recibidor') is not none}}"
      - condition: template
        value_template: "{{not is_state('climate.recibidor', 'off')}}"
  action:
    - service: climate.turn_off
      entity_id: climate.recibidor
    - service: homeassistant.update_entity
      entity_id: climate.recibidor
    - service: logbook.log
      data:
        name: "Calefacci贸n"
        message: "apagada por alta temperatura"
        entity_id: climate.recibidor
        domain: climate
    - service: notify.telegram_hokusphone
      data:
        message: "Empieza el calor !!!! He apagado la calefacci贸n."
        data:
          inline_keyboard:
            - "Enciende la calefacci贸n:/climate.turn_on#climate.recibidor"
#    - service: telegram_bot.send_message
#      data_template:
#        message: "Empieza el calor !!!! He apagado la calefacci贸n."
#        target:
#          - !secret hokusphone_telegram_chat_id
#        #          - !secret geniphone_telegram_chat_id
#        disable_notification: false
#        inline_keyboard:
#          - "Enciende la calefacci贸n:/climate.turn_on#climate.recibidor"
